.container {
    background: #EFEFEF;
    background: linear-gradient(25deg, rgba(239, 239, 239, 1) 0%, rgba(224, 224, 224, 1) 77%, rgba(239, 239, 239, 1) 92%);

    width: 100%;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > :last-child {
    background: #ffffff;
    padding-inline: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 20px;
    margin: 2%;
}
